@import '../styles/globals.scss';

#data-collection-over-page{
    height:100dvh;
    width:100%;

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);

    display:flex;
    flex-direction: column;
    align-items: center;
}

#project-title{
    min-height:125px;
    font-size: 35px;
    font-weight: 500;

    align-content: center;
    text-align: center;
}

#mailing-contact-info{
    position:relative;
    bottom:0px;
    padding:3px 0px;
    font-size: 13px;
    color: rgba(211, 205, 181, 0.7);
}

#mailing-enroll{
    position: relative;
    left:30%;
    margin: 10px 0px 20px 0px;
    width:40%;
    height:50px;

    font-size: $body-font-size+5px;
    // Futher styling in App.scss
}

.mailing-list-text{
    font-size: 13pt;
}