@import '../styles/globals.scss';

#landing-page{
    height:100dvh;
    width:100%;

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);

    display:flex;
    flex-direction: column;
    align-items: center;
}

#project-title{
    min-height:125px;
    font-size: 35px;

    align-content: center;
    text-align: center;
}

#project-description{
    font-size:$body-font-size;
    align-content: center;
    text-align:left;

    padding:10px 10px;
    margin:0px 10px;

    
    background: rgba(160, 111, 65, 0.1);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(72, 47, 24, 0.3);
}

#enroll{
    position: relative;
    left:30%;
    margin: 30px 0px 20px 0px;
    width:40%;
    height:50px;

    font-size: $body-font-size+5px;
    // Futher styling in App.scss
}

