@import '../../styles/globals.scss';

.MC-open-response{
    width:75%;
    margin-left:10px;
    margin-top:5px;
    height: 1em;
    padding:2.5px;
    color:$black1;
}::placeholder{
        color: darken($color: $grey2, $amount: 10) ;
};


