@import '../../styles/globals.scss';

.tlx-options{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.tlx-container{
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.tlx-option{
    -webkit-appearance: none;
    appearance: none;
    height: 2px; 
    background-color: $grey1;
    align-self: center;
    position: relative;
    z-index:2;
    pointer-events: none;
}

.tlx-option::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 5px; 
    height: 20px; 
    border-radius: 15px;
    background: $floralwhite;
    pointer-events: auto;
    box-shadow: 0 0 0px 25px rgba(0, 0, 0, .001);
}

.ticks{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.tick{
    font-weight: 900;
    color:rgba($grey1, 1);
    position:relative;
    top:-12px;
    align-self: center;
}
.major-tick{
    font-size:0.75em;
}
.minor-tick{
    font-size: 0.5em;
}

.tlx-specification{
    font-size:0.8rem;
    margin-bottom:10px;
}

